{% extends 'index.html' %}

{% block title %}
    By category
{% endblock %}

{% block search %}
    <div class="d-flex align-items-center justify-content-between">
        <div class="btn-group m-2">
            <button class="btn btn-outline-warning dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Categories
            </button>
            <ul class="dropdown-menu dropdown-animate" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="{% url 'by_category' 'Scientific' %}">Scientific</a></li>
                <li><a class="dropdown-item" href="{% url 'by_category' 'Religious' %}">Religious</a></li>
                <li><a class="dropdown-item" href="{% url 'by_category' 'Adventure' %}">Adventure</a></li>
                <li><a class="dropdown-item" href="{% url 'by_category' 'Classic' %}">Classic</a></li>
                <li><a class="dropdown-item" href="{% url 'by_category' 'Philosophy' %}">Philosophy</a></li>
                <li><a class="dropdown-item" href="{% url 'by_category' 'Fantastic' %}">Fantastic</a></li>
                <li><a class="dropdown-item" href="{% url 'by_category' 'Historical' %}">Historical</a></li>
                <li><a class="dropdown-item" href="{% url 'by_category' 'Tale' %}">Tale</a></li>
                <li><a class="dropdown-item" href="{% url 'by_category' 'Romance' %}">Romance</a></li>
                <li><a class="dropdown-item" href="{% url 'by_category' 'Art' %}">Art</a></li>
                <li><a class="dropdown-item" href="{% url 'by_category' 'Cooking_Food' %}">Cooking_Food</a></li>
            </ul>
        </div>

        <a href="{% url 'basket_view' %}" class="btn btn-outline-light"><i class="bi bi-basket"></i> Cart</a>
        <button class="btn btn-secondary m-2">{{ books.count }} books</button>
        <form method="POST" class="d-flex" role="search">
            {% csrf_token %}
            <input name="search_published_book" class="form-control me-2" type="search" placeholder="Search books"
                   aria-label="Search"/>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
{% endblock %}

{% block content %}
    <div class="col-10" style="background-color:  whitesmoke; border-radius: 20px;">
        <div class="row">
            <h3 style="text-align: center; margin: 15px; font-weight: bold">{{ category }}</h3>
            <hr>
            {% for book in books %}
                <div class="col-3 mt-2">
                    <div class="card h-100 w-100 card" style="border-color: darkgrey; border-width: 5px">
                        <img src="{{ book.photo.url }}" class="img-format" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.title|truncatechars:17 }}</h5>
                            <p class="card-text">{{ book.description|truncatechars:40 }}</p>
                            <a href="{% url 'detail' book.id %}" class="btn btn-outline-success">View</a>

                            <a href="#" class="btn btn-primary">{{ book.price }} $</a>
                            {% if user == book.added_by %}
                                <a href="{% url 'update' book.id %}" class="btn btn-outline-warning">Edit</a>
                            {% endif %}
                            <form method="POST" action="{% url 'basket_add' book_id=book.id %}" class="mt-2">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-info w-100">
                                    <i class="bi bi-plus-square"></i> Add to cart
                                </button>
                            </form>
                            <p class="fw-bold bottom"> {{ book.created_at|timesince }} ago</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}