{% extends 'base.html' %}

{% block title %}
	Delete
{% endblock %}

{% block content %}
	<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">
                    <span class="text-danger">Delete: </span> {{ book.title }}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span class="fs-4 text-danger fw-medium">Rostan ham o'chirishni xohlaysizmi?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="{% url 'delete' blog.id %}" type="button" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}








