{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block title %}
    Detail
{% endblock %}

{% block content %}
    <h3>{{ blog.title }}</h3>
    <span class="fw-bold"><i class="bi bi-person"></i> {{ book.author }}</span>
    &nbsp;
    |
    &nbsp;
    <i class="bi bi-tags-fill"></i>
    <p class="my-5">
        {{ book.description }}
    </p>
    <img src="{{ book.photo.url }}" alt="">
    <p class="float-end">{{ book.description|wordcount }} words</p>
    <p class="my-2"><i class="bi bi-calendar2-date"></i> {{ book.created_at|date:"D d M Y ⏰ f A" }} </p>



{% endblock %}