{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block search %}
    <form method="GET" class="d-flex" role="search">
        <input name="search_published_blog" class="form-control me-2" type="search" placeholder="Published blogs"
               aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <!-- Chap (4) -->
            <div class="col-3 bg-light text-white p-3" style="height: 100vh">
                <a href="{% url 'create' %}" class="fw-bold"> + Kitob qo'shish</a>
                <br>
                <a href="{% url 'logout' %}" class="fw-bold">Logout</a>
            </div>

            <div class="col-9 bg-light">

                <div class="row">
                    {% for book in books %}
                        <div class="col-3">
                            <div class="card h-100 w-100 card">
                                <img src="{{ book.photo.url }}" class="img-format" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{ book.title }}</h5>
                                    <p class="card-text">{{ book.description|truncatechars:44 }}</p>
                                    <a href="{% url 'detail' book.id %}" class="btn btn-outline-success mb-1">View</a>
                                    <a href="{% url 'update' book.id %}" class="btn btn-outline-warning mb-1">Edit</a>
                                    <a href="#" class="btn btn-primary">25 $</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>



{% endblock %}