{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block search %}
    <form method="GET" class="d-flex" role="search">
        <input name="search_published_blog" class="form-control me-2" type="search" placeholder="Published blogs"
               aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
{% endblock %}

{% block content %}
    <div class="grid">

                <main>
                    {#Blogs#}
                    <span class="fs-3 fw-medium container"><span
                            class="text-primary"></span> Kitoblar {{ books.count }} ta</span>
                    <a class="btn btn-outline-success float-end" href="{% url 'create' %}">+ Add Book</a>
                    <div class="album py-5 bg-body-tertiary mt-3">
                        <div class="container">
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                {% for book in books %}
                                    <div class="col">
                                        <div class="card shadow-sm">
                                            {% if book.photo %}
                                                <img style="height: 225px; object-fit: cover;"
                                                     src="{{ book.photo.url }}" alt="">
                                            {% else %}
                                                <svg aria-label="Placeholder: Thumbnail"
                                                     class="bd-placeholder-img card-img-top"
                                                     height="225"
                                                     preserveAspectRatio="xMidYMid slice" role="img" width="100%"
                                                     xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title>
                                                    <rect width="100%" height="100%" fill="#55595c"></rect>
                                                    <text x="35%" y="50%" fill="#eceeef"
                                                          dy=".3em">{{ book.title }}</text>
                                                </svg>
                                            {% endif %}
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="btn-group">
                                                        <a href="{% url 'detail' book.id %}" type="button"
                                                           class="btn btn-sm btn-outline-secondary">View</a>

                                                        {% if user == book.author %}
                                                            <a href="{% url 'update' blog.id %}" type="button"
                                                               class="btn btn-sm btn-outline-secondary">Edit</a>
                                                        {% endif %}
                                                    </div>
                                                    <small class="text-body-secondary">{{ book.created_at|timesince }}
                                                        ago</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>


                    </div>

                </main>
            </div>


{% endblock %}