{% extends 'base.html' %}
{% load static %}
{% block title %}
    Payment
{% endblock %}

{% block content %}
    <div class="col-10">


            <div style="text-align: center; font-size: 200px">
                <img src="/media/photos/visa.webp" alt="Visa" width="50">
                <img src="/media/photos/Mastercard_2019_logo.svg.webp" alt="MasterCard" width="50">
                <img src="/media/photos/paypal.png" alt="PayPal" width="50">
                <img src="/media/photos/Uzcard.jpg" alt="UzCard" width="50">
            </div>

    </div>

{% endblock %}


