{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    Update
{% endblock %}



{% block content %}
    <div class="col-10" style="background-color:  whitesmoke; border-radius: 20px;">
        {% include 'book/delete_confirm.html' %}
        <div class="card">
            <div class="card-header">
                <span class="fs-3 text-pr">Update Book</span>
            </div>
            <div class="card-body">

                <form action="{% url 'update' book.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-outline-danger float-end" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                        <i class="bi bi-trash3"></i> Delete
                    </button>
                </form>

            </div>
        </div>
    </div>
{% endblock %}