{% extends 'index.html' %}

{% block title %}
    Send Mail
{% endblock %}


{% block content %}
    <div class="col-10 card" style="background-color:  whitesmoke; border-radius: 20px;">
        <div class="card-header" style="border-radius: 20px">
            <p class="fs-3 text-primary">Send Mail</p>
        </div>
        <div class="card-body">
            <form method="POST" action="{% url 'test_email' %}">
                {% csrf_token %}
                <label class="my-2">Subject*</label>

                <input name="subject" type="text" class="form-control" placeholder="Subject" aria-label="Subject"
                       aria-describedby="addon-wrapping" required>
                <label class="my-2">Message*</label>
                <textarea name="message" rows="5" type="text" class="form-control" placeholder="Message"
                          aria-label="Message" aria-describedby="addon-wrapping" required></textarea>
                <label class="my-2">to*</label>
                <input name="email" type="text" class="form-control" placeholder="example@gmail.com"
                       aria-label="Subject"
                       aria-describedby="addon-wrapping" required>
                <button type="submit" class="btn btn-primary my-2">Send Email</button>
            </form>
        </div>
    </div>
{% endblock %}